.imageUser {
  background-color: white;
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
}

.emailUser,
.userName,
.userDescription {
  text-align: center;
}

.dataUser {
  padding: 2rem;
}
