.footerContainer {
  min-height: 15vh;
  width: 100vw;
  box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.222);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fde56dc3;
}

.logoContainer,
.categoriesContainer,
.aboutContainer,
.socialContainer {
  text-align: center;
  margin: 10px;
  padding: 0px 50px 0px 50px;
}

.categoriesContainer ul {
  list-style: none;
  padding: 0;
  column-count: 2;
}

.aboutContainer ul {
  list-style: none;
  padding: 0;
}

.categoriesContainer h4,
.aboutContainer h4,
.socialContainer h4 {
  color: #6c2bc1;
}

.socialContainer img {
  width: 30px;
  height: 30px;
  margin: 5px;
}
