.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #5c5b7a;
  padding: 20px;
}

.logoContainer,
.categoriesContainer,
.aboutContainer,
.socialContainer {
  text-align: center;
  margin: 10px;
}

.categoriesContainer ul,
.aboutContainer ul {
  list-style: none;
  padding: 0;
}

.socialContainer img {
  width: 30px;
  height: 30px;
  margin: 5px;
}
