.footerContainer {
  min-height: 15vh;
  width: 100vw;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.164);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fcd722;
}

.logoContainer,
.categoriesContainer,
.aboutContainer,
.socialContainer {
  text-align: center;
  margin: 10px;
  padding: 0px 50px 0px 50px;
}

.categoriesContainer ul {
  list-style: none;
  padding: 0;
  column-count: 2;
}

.aboutContainer ul {
  list-style: none;
  padding: 0;
}

.categoriesContainer h4,
.aboutContainer h4,
.socialContainer h4 {
  color: #6c2bc1;
}

.socialContainer img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

@media (max-width: 700px) {
  .socialContainer img {
    width: 15px;
    height: 15px;
    margin: 5px;
  }

  .categoriesContainer h4,
  .aboutContainer h4,
  .socialContainer h4 {
    font-size: small;
  }

  .categoriesContainer ul,
  .aboutContainer ul,
  .socialContainer ul {
    font-size: small;
  }
}
