header {
  min-height: 10vh;
  width: 100%;
  background-color: #5d258d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 0px 40px black;
}

.titleHeaderBlack {
  position: absolute;
  color: white;
  top: 2px;
}

.titleContainer {
  color: #3f2322;
  width: 360px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleFatherContainer {
  color: #3f2322;
  width: 800px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.logo {
  width: 220px;
  align-items: left;
  margin-left: 20vw;
}

.iconNav {
  width: 60px;
}

.iconNav.home {
  width: 60px;
  transform: scale(1.2);
}

nav {
  display: flex;
  gap: 1rem;
}

.loginBtn {
  background-color: #fcd946;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-right: 20vw;
  cursor: pointer;

  transition:
    background-color 0.3s,
    color 0.3s;
}

.loginBtn:hover {
  background-color: #e0b500; /* Cambiar el color de fondo al pasar el mouse */
}

.whiteContainer {
  width: 100vw;
  height: 1vh;
  background-color: white;
}

.iconLogout {
  transform: scale(0.8);
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: solid 7px black;
  border-radius: 50%;
}

.profileCircle {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: solid black 6px;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconDashBoard {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    width: 50vw;
    margin: 1rem;
  }
  .titleFatherContainer {
    width: 263px;
  }
  .loginBtn {
    margin: 0rem auto 1rem auto;
  }
}
